
.cardGroupSpacing {
    margin: auto;
    max-width: 100%;
    height: 671px;
    background: url('../images/white.jpg')  center !important;
}

.link {
    color: #FFF;
}

.cardStyle {
    margin-top: 5px !important;
    width: 340px !important;
    font-family: 'Concert One', cursive;
    font-size: 16px;
}

.itemSpace {
    margin-top: 1px !important;
}

.logo {
    width: 400px;
    height: 400px;
}